html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

/* Custom */

html, 
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efefef;
	min-width: 1000px;
	position: relative;
}

a {
	text-decoration: none;
}

a:hover {

}

a:visited,
a:active {

}

header {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
	position: fixed;
	z-index: 0;
	background-position: 0 -100px;
	background-image: url('../img/bg5.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

header .title,
header .slogan1,
header .slogan2 {
	z-index: 2;
}

header > h1 {
	font-size: 3em;
	margin: 0;
	-webkit-transform: skew(-5deg, -5deg);
	-moz-transform: skew(-5deg, -5deg);
	-ms-transform: skew(-5deg, -5deg);
	-o-transform: skew(-5deg, -5deg);
	transform: skew(-5deg, -5deg);
}

header > h2 {
	font-size: 6.5em;
	margin: 0;
	-webkit-transform: skew(10deg, 10deg);
	-moz-transform: skew(10deg, 10deg);
	-ms-transform: skew(10deg, 10deg);
	-o-transform: skew(10deg, 10deg);
	transform: skew(10deg, 10deg);
}

header .title {
	padding-top: 5%;
	position: relative;
}

header .slogan1 {
	padding-right: 200px;
	padding-top: 8%;
	position: relative;
}

header .slogan2 {
	padding-left: 200px;
	position: relative;
}

nav {
	left: -5px;
	top: 50%;
	margin-top: -250px;
	height: 400px;
	text-align: center;
	font-size: 1.5em;
	background-color: #efefef;
	position: fixed;
	z-index: 2000;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 10px #3f3f3f;
	-moz-box-shadow: 0px 0px 10px #3f3f3f;
	-webkit-box-shadow: 0px 0px 10px #3f3f3f;
	-webkit-transform: skewY(10deg);
	-moz-transform: skewY(10deg);
	-ms-transform: skewY(10deg);
	-o-transform: skewY(10deg);
	transform: skewY(10deg);
}

nav a {
	color: #6f6f6f;
	display: block;
	text-decoration: none;
	margin: 0 20px 0 25px;
	height: 60px;
	width: 160px;
	line-height: 85px;
	border-bottom: solid 1px #cfcfcf;
}

nav span:hover {
	color: #0f0f0f;
	display: block;
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	-webkit-transform: skewY(-10deg);
	-moz-transform: skewY(-10deg);
	-ms-transform: skewY(-10deg);
	-o-transform: skewY(-10deg);
	transform: skewY(-10deg);
}

.block {
	position: relative;
	z-index: 100;
	overflow: hidden;
	padding: 0 250px;
}

.block:nth-child(odd) {
	background: #dfdfdf;
}

.block {
	margin: 0 auto;
	padding: 0 250px;
}

.block > h2 {
	font-size: 2.5em;
	margin: 0;
	padding: 25px 0 25px 0;
}

.block > .content {
	font-size: 1.25em;
	min-height: 150px;
	padding: 0 0 0 50px;
	position: relative;
}

.opening_shadow {
	text-shadow: 0 1px 0 #6f6f6f,
				 0 2px 0 #6f6f6f,
				 0 3px 0 #6f6f6f,
				 0 4px 0 #6f6f6f,
				 0 5px 0 #6f6f6f,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.5);
}

.text_shadow {
	text-shadow: 1px 0 1px #2f2f2f,
				 -1px 0 1px #2f2f2f,
				 0 -1px 1px #2f2f2f,
				 0 1px 1px #2f2f2f;
}

.inner_scroll {
	/*overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;*/
}

li {
	padding: 0 0 20px 0;
}

footer {
	text-align: center;
	height: 150px;
}

footer > span {
	display: block;
}

footer > span:nth-child(1) {
	color: #c16e46;
	font-size: 1em;
	padding-top: 63px;
}

footer > span:nth-child(2),
footer > span:nth-child(2) a:active,
footer > span:nth-child(2) a:visited {
	color: #98a637;
	font-size: 0.75em;
}

#approach,
#works {
	color: #efefef;
}